.music {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
}

.music:hover {
    transform: translateY(-7px);
}

.music__description {
    margin-top: 1em;
}

.music__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
}

.music__stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
}

.music .link--icon {
    margin-left: 0.5em;
}

h3 {
    padding-bottom: 1em;
}